* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#fff
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
  background-color: #111;
}
.container{
  margin: 10px;
}
h1{
  background-color: aquamarine;
  padding: 70px;
   width: fit-content;
   margin: 10px;
   border-radius: 10px;
   font-size: 60px;
}
button{
  padding: 5px 10px;
  cursor: pointer;
  color: #111;
  font-size: 19px;
  font-weight: 600;
  margin: 10px;
}