* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#fff
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: #121212;
}

form {
    color: green;
    margin: 20px;
}
input{
  padding: 5px;
  color: #121212;
  margin-bottom: 10px;
}
button {
  color: #121212;
  padding: 5px 10px;
}