* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

body{
  background: #000;
}
.card{
  background-color: crimson;
  color: aliceblue;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}