* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

body{
  background: #000;
}
.card{
  background-color: crimson;
  color: aliceblue;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}
.navbar{
  background-color: teal;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 24px;
}
.navbar a{
  padding-left: 20px;
  color: white;
  text-decoration: none;
}