* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#fff
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: #121212;
}
input,button{
    padding: 10px 20px;
    color: #121212;
    margin: 20px;
}