* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #4f5458;
    font-family: monospace;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
  background-color: #111;
}
#parent{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  gap: 10px;
  width: 100%;
  margin: 10px;
}
.card{
  height: 280px;
  width: 300px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top img{
  border: 1px solid #a5a3a3;
  border-radius: 50%;
  padding: 5px;
  height: 50px;
}
.top button {
  display: flex;
  padding: 2px 10px;
  gap: 5px;
  border-radius: 5px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}
.center{
  display: flex;
  flex-direction: column;

}
.center h3{
  margin: 10px 0px;
  font-size: 20px;
  color: #111;
}
.center h3 > span{
  font-size: 16px;
}
.center h2{
  font-size: 23px;
  color: #111;
  font-weight: 600;
  margin-bottom: 10px;
}
.center > div{
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}
.center > div > h4{
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: #111;
  background-color: #c2c3c590;
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bottom{
  display: flex;
  justify-content: space-between;
  border-top: 1.5px solid gray;
  padding-top: 15px;
}
.bottom > div > h3 , p {
  color: #111;
  font-size: 16px; 
}
.bottom > button {
  padding: 3px 15px;
  border-radius: 10px;
  background-color: #111;
  color: #fff;
  font-weight: 600;
  border: none;
  font-size: 16px;
}
 button:hover{
  cursor: pointer;
}