* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: monospace;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
  background-color: #111;
}
#parent{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  padding: 30px;
}
.card{
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid white;
}