@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
  background-color: #747171;
}

.page{
  height: 100vh;
  width: 100%;
  background-color: #747171;
}
.page1{
  height: 100vh;
  width: 100%;
  background-color: #170b0b;
}
.page2{
  height: 100vh;
  width: 100%;
  background-color: #c66c6c;
}